ul li {
    list-style: none;
}

#tabParent {
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

/*::-webkit-scrollbar{*/
/*display:none;*/
/*}*/
#tabs {
    height: 30px;
    margin-top: 15px;
    padding-left: 0;
    position: absolute;
    white-space: nowrap;
}

#tabs > li {
    height: 30px;
    box-sizing: border-box;
    /*float: left;*/
    display: inline-block;
    margin-left: 5px;
    padding: 0 8px;
    cursor: pointer;
    background-color: #ccc;
    color: white;
    border-radius: 5px;
}

#tabs > li > p {
    height: 100%;
    line-height: 28px;
}

#tabs > li > p:first-child {
    float: left;
}

#tabs > li > p:last-child {
    width: 20px;
    margin-left: 10px;
    float: right;
    font-size: 18px;
}
#tabs > li > p:last-child:hover{
    color:red;
    font-weight: 700;
}
.tabActive{
    color: #3F6AD7 !important;
    background-color: #bbb !important;
}
/*前进 后退 按钮*/
#selectMove{
    /*display: none;*/
    height: 100%;
    width: 65px;
    position: absolute;
    right: 0;
    z-index: 1000;
    background-color: white;
    padding-top: 15px;
    background-color: #E5E7E9;
}

#selectMove>p{
    height: 30px;
    width: 30px;
    float: right;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
#selectMove>p:hover{
    color: red;
    font-weight: 700;
}
